<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:td="http://www.w3.org/1999/xhtml">
<th:block th:replace="~{./common_layout/basic :: setContent(~{this::content} )}">
    <th:block th:fragment="content">
        <head>
            <meta charset="UTF-8">
        </head>
        <body>
        <div id="generateUserLayout" style="width: 900px">
            <form id="databaseForm">
                <div class="form-group row">
                    <label for="targetDatabase" class="col-sm-2 col-form-label"
                           style="font-weight: bold">데이터베이스</label>
                    <div class="col-sm-10">
                        <select id="targetDatabase" name="targetDatabase">
                            <option value="mysql" selected>MySQL</option>
                            <option value="sqlserver" >SQL Server</option>
                            <option value="oracle" disabled>Oracle</option>
                        </select>
                    </div>
                </div>
            </form>
            <form id="addForm" name="addForm">
                <input type="hidden" name="targetDatabase" th:value="${dbType}">
                <div class="form-group row">
                    <label for="inputCount" class="col-sm-2 col-form-label" style="font-weight: bold">생성 유저수</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control common-text" id="inputCount" name="count"
                               placeholder="10" value="10">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="input_email" class="col-sm-2 col-form-label"
                           style="font-weight: bold; color: red">EMAIL</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input_email" name="EMAIL"
                               placeholder="Auto Generate" style="font-size: 9pt;" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="customPassword" class="col-sm-2 col-form-label"
                           style="font-weight: bold; color: red;">PASSWORD</label>
                    <div class="col-sm-10">
                        <select id="passwordType" name="passwordType">
                            <option value="auto" selected>Auto Generate (자동생성)</option>
                            <option value="custom">Custom Password</option>
                        </select>
                        <input type="text" class="form-control" id="customPassword" name="customPassword"
                               value="Admin@spam" style="font-size: 9pt;">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="input_name" class="col-sm-2 col-form-label" style="font-weight: bold">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input_name" name="NAME" placeholder="Auto Generate"
                               style="font-size: 9pt;" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputGrp" class="col-sm-2 col-form-label" style="font-weight: bold">GRP<img
                            th:src="@{/images/detail.png}" style="padding-left: 4px;" data-placement="bottom"
                            data-toggle="tooltip" data-html="true" title="그룹명"/></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control common-text" id="inputGrp" name="GRP" placeholder=""
                               value="">
                    </div>
                </div>
                <div class="form-group row common-text">
                    <label for="inputGrpAdmin" class="col-sm-2 col-form-label"
                           style="font-weight: bold">GRP_ADMIN<img th:src="@{/images/detail.png}"
                                                                   style="padding-left: 4px;" data-placement="bottom"
                                                                   data-toggle="tooltip" data-html="true"
                                                                   title="그룹 관리자 여부(0:일반사용자, 1:관리자"/></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control common-text" id="inputGrpAdmin" name="GRP_ADMIN"
                               placeholder="" value="" maxlength="1">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputLanguage" class="col-sm-2 col-form-label" style="font-weight: bold">생성 도메인</label>
                    <div class="col-sm-10">
                    <textarea id="domainList" name="domainList" class="common-text" cols="50" rows="5">example.net,
example.org,
example.co.kr,
example.xl.to,
example.ha.do,
example.po.jo,
example.qq,
example.jp,
example.fr</textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="input_ears_use" class="col-sm-2 col-form-label" style="font-weight: bold">EARS_USE
                        <img th:src="@{/images/detail.png}" style="padding-left: 4px;" data-placement="bottom"
                             data-toggle="tooltip" data-html="true" title="수신자 인증 사용여부(0:사용 안함, 1:사용)"/></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input_ears_use" name="EARS_USE"
                               style="font-size: 9pt" maxlength="1">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="input_ears_expire_action" class="col-sm-2 col-form-label" style="font-weight: bold">EARS_EXPIRE_ACTION
                        <img th:src="@{/images/detail.png}" style="padding-left: 4px;" data-placement="bottom"
                             data-toggle="tooltip" data-html="true" title="수신자 인증 만료 시 동작(1:bypass,2:인증차단)"/></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input_ears_expire_action" name="EARS_EXPIRE_ACTION"
                               maxlength="1" style="font-size: 9pt">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="input_route_server" class="col-sm-2 col-form-label" style="font-weight: bold">ROUTE_SERVER
                        <img th:src="@{/images/detail.png}" style="padding-left: 4px;" data-placement="bottom"
                             data-toggle="tooltip" data-html="true"
                             title="라우팅 서버 (암호화|서버|포트) 암호화(0:없음,1:TLS(A),2:TLS,3:SSL)"/></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input_route_server" name="ROUTE_SERVER"
                               style="font-size: 9pt">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputMailServer_encrypt" class="col-sm-2 col-form-label"
                           style="font-weight: bold; color: red">FORWARD_SERVER</label>
                    <div class="col-sm-10" style="display: inline-block">
                        <select id="inputMailServer_encrypt" name="mailserver_encrypt" class="common-text"
                                style="padding-bottom: 5px;">
                            <option value="0">0 : 사용안함</option>
                            <option value="1">1 : TLS(A)</option>
                            <option value="2">2 : TLS</option>
                            <option value="3">3 : SSL</option>
                        </select>
                        <input type="text" class="form-control common-text" id="inputMailServer_host"
                               name="mailserver_host" placeholder="Server Host" value="10.53.168.249"
                               style="padding-bottom: 5px; display: inline-block;">
                        <input type="text" class="form-control common-text" id="inputMailServer_port"
                               name="mailserver_port" placeholder="Port" value="25" style="display: inline-block;">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="input_route_email" class="col-sm-2 col-form-label" style="font-weight: bold">ROUTE_EMAIL
                        <img th:src="@{/images/detail.png}" style="padding-left: 4px;" data-placement="bottom"
                             data-toggle="tooltip" data-html="true" title="라우팅 서버 계정"/></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input_route_email" name="ROUTE_EMAIL"
                               style="font-size: 9pt">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="input_run_mode" class="col-sm-2 col-form-label" style="font-weight: bold">RUN_MODE
                        <img th:src="@{/images/detail.png}" style="padding-left: 4px;" data-placement="bottom"
                             data-toggle="tooltip" data-html="true" title="운영모드(1:차단, 2:통계, 3:태그)"/></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input_run_mode" name="RUN_MODE" maxlength="1"
                               style="font-size: 9pt">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="input_filter_order" class="col-sm-2 col-form-label" style="font-weight: bold">FILTER_ORDER
                        <img th:src="@{/images/detail.png}" style="padding-left: 4px;" data-placement="bottom"
                             data-toggle="tooltip" data-html="true"
                             title="필터 우선 순위 (O:개인허용, u:개인차단, g:그룹허용, G:그룹차단, d:도메인허용, D:도메인차단, a:전체허용, A:전체차단)"/></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input_filter_order" name="FILTER_ORDER" value="OUaA"
                               style="font-size: 9pt">
                    </div>
                </div>


                <div class="form-group row common-text">
                    <label for="inputApt" class="col-sm-2 col-form-label"
                           style="font-weight: bold">APT_USE<img th:src="@{/images/detail.png}"
                                                                 style="padding-left: 4px;" data-placement="bottom"
                                                                 data-toggle="tooltip" data-html="true"
                                                                 title="무해화 사용여부(0:사용 안함, 1:사용)"/></label>
                    </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control common-text" id="inputApt" name="APT" placeholder=""
                               value="" maxlength="1">
                    </div>
                </div>
                <div class="form-group row common-text">
                    <label for="inputDetox" class="col-sm-2 col-form-label"
                           style="font-weight: bold">DETOX_USE<img th:src="@{/images/detail.png}"
                                                                   style="padding-left: 4px;" data-placement="bottom"
                                                                   data-toggle="tooltip" data-html="true"
                                                                   title="샌드박스 사용여부(0:사용안함, 1:탐지, 2:차단)"/></label>
                    </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control common-text" id="inputDetox" name="DETOX" placeholder=""
                               value="" maxlength="1">
                    </div>
                </div>


                <div class="form-group row">
                    <label for="inputLanguage" class="col-sm-2 col-form-label" style="font-weight: bold">LANG<img
                            th:src="@{/images/detail.png}" style="padding-left: 4px;" data-placement="bottom"
                            data-toggle="tooltip" data-html="true" title="언어 (ko,en,ja)"/></label></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control common-text" id="inputLanguage" name="lang"
                               placeholder="ko" value="ko">
                    </div>
                </div>


                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="inputGrade" style="font-weight: bold">직급</label>
                    <select class="form-control common-text" id="inputGrade" name="grade">
                        <option value="0">무작위</option>
                        <option th:each="grade : ${gradeList}" th:value="${grade.grade_num}"
                                th:text="${grade.grade_name}"></option>
                    </select>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="inputDept"
                           style="display: inline-block; font-weight: bold;">부서</label>
                    <select class="form-control common-text" id="inputDept" name="dept">
                        <option value="0">무작위</option>
                        <option th:each="dept : ${deptList}" th:value="${dept.dept_num}"
                                th:text="${dept.dept_name}"></option>
                    </select>
                </div>


                <div class="form-group row">
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="check_clear" name="check_clear" checked>
                            <label class="form-check-label" for="check_clear"
                                   style="color: orangered; font-weight: bold">
                                기존 데이터를 삭제
                            </label>
                        </div>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" id="btn_generate" class="btn btn-primary">생성</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Modal body text goes here.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        </body>
        <script th:inline="javascript">
            var targetDatabase = $('input[name=targetDatabase]').val();
            if(targetDatabase == "mysql"){
                $("#targetDatabase").val(targetDatabase).prop("selected", true);
            }else if(targetDatabase == "sqlserver"){
                $("#targetDatabase").val(targetDatabase).prop("selected", true);
            }else if(targetDatabase == "oracle"){
                $("#targetDatabase").val(targetDatabase).prop("selected", true);
            }

            var msg = [[${msg}]];
            if (msg) {
                $(".modal").modal();
            }

            $("input[name='customPassword']").hide();
            $("#passwordType").change(function () {
                var passwordType = $("#passwordType option:selected").val();
                if (passwordType == "auto") {
                    $("input[name='customPassword']").hide();
                } else {
                    $("input[name='customPassword']").show();
                }
            })

            var addForm = $("#addForm");
            $("#btn_generate").click(function () {
                addForm
                    .attr("action", "/hr/autoAdd")
                    .attr("method", "post");
                addForm.submit();
            });

            // 툴팁 처리
            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
            })

            var databaseForm = $("#databaseForm");
            $("#targetDatabase").change(function () {
                    databaseForm
                        .attr("method", "GET");
                    databaseForm.submit();
            });
        </script>
    </th:block>
</th:block>