<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>직급 수정</title>
        <!-- Bootstrap core CSS -->
        <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link th:href="@{/css/simple-sidebar.css}" rel="stylesheet">
        <link th:href="@{/css/common.css}" rel="stylesheet">

        <!-- Bootstrap core JavaScript -->
        <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
        <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    </head>
    <body>
    <div id="modifyGradeLayout">
        <div id="popup_modify_title">
            <h1>직급정보</h1>
        </div>
        <div>
            <table class="table table-striped" id="table_column">
                <thead align="center" class="table_column">
                <tr>
                    <td>직급 번호</td>
                    <td>직급명</td>
                </tr>
                </thead>
                <tbody id="gradeData" align="center">
                <th:block th:if="${result != null}">
                    <tr>
                        <form id="add_grade">
                            <td scope="row">New</td>
                            <td scope="row"><input type="text" name="grade_name" /></td>
                            <td scope="row"><button type="button" id="btn_reg_grade" th:onclick="|javascript:add();|" >추가</button></td>
                            <td></td>
                        </form>
                    </tr>
                    <tr th:each="dto : ${result}">
                        <form th:id="${dto.grade_num}" method="get">
                            <input type="hidden" name="grade_num" th:value="${dto.grade_num}">
                            <td scope="row" th:text="${dto.grade_num}"></td>
                            <td scope="row"><input type="text" name="grade_name" th:value="${dto.grade_name}"/></td>
                            <td scope="row"><button type="button" id="btn_modify" th:onclick="|javascript:modify(${dto.grade_num});|" >수정</button></td>
                            <td scope="row"><button type="button" id="btn_delete" th:onclick="|javascript:remove(${dto.grade_num});|">삭제</button> </td>
                        </form>
                    </tr>
                </th:block>
                <tr th:if="${result == null or result.size == 0}" >
                    <td colspan="3">데이터가 없습니다.</td>
                </tr>
                </tbody>
            </table>
            <div id="btn_popup_close">
                <button type="button" onclick="window.close();">닫기</button>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        var msg = [[${msg}]];
        console.log(msg);
        if(msg){
            $(".modal").modal();
        }

        var modify = function (grade_num) {
            var form = $("form[id=" + grade_num + "]");
            form
                .attr("action", "/hr/actionModifyGrade")
                .attr("method", "POST");
            form.submit();
        }
        var remove = function (grade_num) {
            var form = $("form[id=" + grade_num + "]");
            form
                .attr("action", "/hr/actionRemoveGrade")
                .attr("method", "POST");
            form.submit();
        }
        var add = function () {
            var form = $("form[id=add_grade]");
            form
                .attr("action", "/hr/actionRegisterGrade")
                .attr("method", "POST");
            form.submit();
        }
    </script>
    </body>
</th:block>
</html>